<p id="notice"><%= notice %></p>

<p>
  <b>Slug:</b>
  <%= @resume.slug %>
</p>

<p>
  <b>Company:</b>
  <%= @resume.company %>
</p>


<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
